/* src/pages/AdminDashboard.css */

.admin-dashboard {
  background: url('https://wallpapers.com/images/hd/gym-background-3avpur3zeam79mrd.jpg') center center/cover no-repeat;
  min-height: 100vh;
  padding: 2rem;
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.admin-dashboard::before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 0;
}

.admin-dashboard > * {
  z-index: 1;
}

 h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
  letter-spacing: 1.5px;
  color: #ffffff;
}

.error {
  background-color: rgba(255, 0, 0, 0.6);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  font-weight: bold;
  color: white;
}

.product-form,
.product-edit-form {
  background: rgba(255, 255, 255, 0.05);
  pad
  padding: 2rem;
  border-radius: 16px;
  max-width: 600px;
  width: 100%;
  margin: 2rem 0;
}

.product-form input,
.product-edit-form input,
.product-edit-form textarea {
  width: 100%;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 8px;
  background-color: #222;
  color: white;
  font-size: 1rem;
}

.button-group {
  display: flex;
  gap: 10px;
  justify-content: center;
}


button {
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  gap: 10px;
  background-color: #242424;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #818181;
}

.product-list {
  width: 100%;
  max-width: 1000px;
  background: rgba(255, 255, 255, 0.05);
  padding: 2rem;
  border-radius: 16px;
  margin: 2rem 0;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: white;
}

th, td {
  padding: 0.75rem;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

th {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-weight: bold;
}

img {
  border-radius: 8px;
}
